# Database
DATABASE_URL=
DATABASE_USER=
DATABASE_PASS=
DATABASE_NAME=

# Auth
JWT_PUBLIC_KEY=""
JWT_PRIVATE_KEY=""

# AWS - CLOUDFLARE
CLOUDFLARE_ACCOUNT_ID=""
AWS_BUCKET_NAME=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
